*{
    margin:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;

    background-color: grey;
}

#stopwatch-text{
    display:inline;
    padding:5px;

    background-color: rgb(43, 43, 43);
    color: tan;
    font-size: 5rem;
}